<a href="https://colab.research.google.com/github/HayunSONG9758/DALC_Scala/blob/main/3_1%2C2_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88%2C_%EC%8B%AC%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas 기초

1) 정의
- 데이터의 형태와 속성이 다양
- 다양한 데이터를 일관성있게 동일한 형태로 통합 필요
- pandas 라이브러리

2) 특징
- 서로 다른 유형의 데이터를 공통의 형식으로 정리
- 1차원 배열인 series, 2차원 배열인 dataframe 제공
- 고수준의 연산 수행 가능

In [ ]:
import pandas
pandas.__version__ # 버전확인

'1.1.5'

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# series:1차원 배열 형태
# dataframe:통합 인덱싱을 활용하여 데이터 조작 가능, 주소는 행 인덱스와 열 이름으로 구성

3) Series
- index

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[1]

0.5

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
data=pd.Series([0.25, 0.5, 0.75, 1.0],
               index=['a', 'b', 'c', 'd']) # index는 꼭 정수일필요가 없으며 어떤 타입의 값으로도 구성 가능(여기에선 문자열로)
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b'] # 문자열 인덱스로 항목에 접근 가능

0.5

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7]) # 인접하지 않거나 연속적이지 않은 인덱스를 사용하여 임의로 만들 수 있음
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

0.5

- 딕셔너리 구조
1. 일련의 임의의 값에 임의의 키를 매핑하는 구조
2. 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조
3. 딕셔너리의 키는 series의 인덱스로 대응, 딕셔너리의 값은 series의 데이터값으로 변환

In [ ]:
population_dict = {'California':38332521, # 첫번째 열의 값:미국의 주 이름
                   'Texas':26448393, # 두번째 열의 값:인구 수
                   'New York':19651127,
                   'Florida':19552860,
                   'Illinois':12882135}
population = pd.Series(population_dict) # 딕셔너리 정의
population

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population['California'] # 인덱스가 정렬된 키에서 추출되는 경우 값을 불러옴

38332521

In [ ]:
population['California':'Illinois'] # 슬라이싱 같이 배열 스타일의 연산 지원

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
# 객체 구성하기
pd.Series([2,4,6]) # data: 리스트 or Numpy 배열, index : 생략가능

0    2
1    4
2    6
dtype: int64

In [ ]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [ ]:
dic_data={2:'a', 1:'b', 3:'c'}
dic_data # data가 딕셔너리일 경우에는 기본적으로 딕셔너리 키로 정렬해서 취함
         # Series 객체는 요소값들이 입력된 순서대로 출력됨

{1: 'b', 2: 'a', 3: 'c'}

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2]) # 각각 다른 결과를 얻고 싶으면 인덱스를 명시적으로 설정

3    c
2    a
dtype: object

4) Dataframe

행 인덱스: Series 인덱스와 동일

열 인덱스 : 열 이름

데이터프레임 : 행 인덱스와 열 이름을 갖는 행렬

데이터프레임 : Series 객체의 연속

In [ ]:
area_dict = {'California':423967, 'Texas':695662, 'New York':141297, 'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
states.index # 인덱스 라벨을 이용하여 요솟값에 접근할 수 있는 index 속성을 가짐

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states.columns # 열 라벨을 나타내는 index 객체인 columns 속성도 가짐

Index(['population', 'area'], dtype='object')

In [ ]:
states['area'] # 열 이름을 인덱스로 지정하면 열 데이터로 이루어진 Series에 매핑

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
pd.DataFrame(population, columns=['population']) # 단일 Series로부터 DataFrame 구성가능

            population
California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135

In [ ]:
pd.DataFrame(population, index=['Texas'], columns=['population'])

       population
Texas    26448393

In [ ]:
pd.DataFrame([{'a':1, 'b':2},{'b':3, 'c':4}]) # 누락된 자리는 NaN(not a number)값으로 채움

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
pd.DataFrame({'population':population, 'area':area}) # 여러개의 Series 객체로부터 DataFrame 구성가능

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
pd.DataFrame(np.random.rand(3,2),
             columns=['foo','bar'],
             index=['a','b','c']) # 2차원 배열에 열 이름과 인덱스를 지정하여 DataFrame 생성가능

        foo       bar
a  0.569381  0.306899
b  0.594831  0.910492
c  0.621649  0.933771